@import "tailwindcss";

:root {
  --color-primary: #050505;
  --color-secondary: #0f1115;
  --color-accent: #f59e0b;
  --color-accent-light: #fb923c;

  --color-bg-dark: #050505;
  --color-bg-muted: #111827;

  --color-text-primary: #ffffff;
  --color-text-secondary: #9ca3af;
  --color-text-muted: #4b5563;
  --color-text-inverse: #000000;

  --color-success: #10B981;
  --color-warning: #F59E0B;
  --color-error: #EF4444;

  --font-display: 'Outfit', sans-serif;
  --font-body: 'Outfit', sans-serif;
  --font-mono: 'JetBrains Mono', monospace;
}

@theme inline {
  --color-primary: var(--color-primary);
  --color-secondary: var(--color-secondary);
  --color-accent: var(--color-accent);
  --color-accent-light: var(--color-accent-light);
  --color-bg-dark: var(--color-bg-dark);
  --color-bg-muted: var(--color-bg-muted);
  --color-text-primary: var(--color-text-primary);
  --color-text-secondary: var(--color-text-secondary);
  --color-text-muted: var(--color-text-muted);
  --color-text-inverse: var(--color-text-inverse);
  --font-display: var(--font-display);
  --font-body: var(--font-body);
  --font-mono: var(--font-mono);
}

body {
  font-family: var(--font-body);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--color-bg-dark);
  color: var(--color-text-primary);
}